<div class="row presentation-panel">

    <div class="col-lg-6">
        <%= image_tag "georgesatalla.jpg", class: "img-fluid", alt:"Georges ATALLA" %>
    </div>

    <div class="col-lg-6">

      <%= yield %>

      <p>Github: <%=link_to 'Ggs91', 'https://github.com/Ggs91/', target:"_blank" %> </p>
      <p>Email:
        <a href="mailto:georges_atalla@hotmail.fr">georges_atalla@hotmail.fr</a>
      </p>
      <p>Phone: +33.(0)6.80.81.93.40</p>
    </div>
</div>


