<section id="showcase">

  <div class="overlay flex-container d-flex justify-content-center align-items-center">
    <div class="content container">
      <h1>Welcome to EventBright</h1>
      <p>Organise events. Gather people. Make a change</p>
      <%= link_to 'Create an event', new_event_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>

  <%= render "static_pages/showcase_carousel" %>

</section>
