 <div id="showcase-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "https://res.cloudinary.com/cloudfilestorage/image/upload/v1614549011/eventbrite/sport_wsvhxi.jpg", alt:"Sport Event", class:"carousel-img" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "https://res.cloudinary.com/cloudfilestorage/image/upload/v1614549002/eventbrite/conference_y7qiyn.jpg", alt:"Conference Event", class:"carousel-img" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "https://res.cloudinary.com/cloudfilestorage/image/upload/v1614549008/eventbrite/cooking_naecrb.jpg", alt:"Cooking Event", class:"carousel-img" %>
      </div>
    </div>
  </div>
