// Custom Style
html {
  position: relative;
  min-height: 100%;
  font-family: 'Noto Sans SC'; 
}

body{
  background-color: #fff;
  margin-bottom: 75px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

ul {
  padding-left: 1em;
}

h3 {
  font-weight: 700;
}