<div class="clear-absolute"></div>
<div class="container">
  <%= render layout: 'events/form', locals: { resource: @event } do %>
  <div class="text-center">
    <h2>Organise an Event</h2>
  </div>
  <% end %>
</div>