<div class="container">
  <h1 class="mt-5">Thank you for submitting an event !</h1>

  <p class="lead">It will be reviewed and validated very soon !</p>

  <%= link_to "See your event", event_path(@event.id) %> <br>
  <%= link_to "Home", root_path, class: "btn btn-primary"%>
</div>
