.col-item {
  margin-bottom: 30px;
}

.card-presentation {
  border-radius: 3px;
  border: none;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 16px 64px -16px rgba(46,55,77,.1);
}

.card-presentation:hover {
  box-shadow: 0 16px 64px -16px rgba(46,55,77,.4);
}

.card-presentation .card-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}


.card-presentation p.card-title {
  margin-bottom: 0;
}

.card-presentation .starting-date,
.card-presentation h4.card-title {
  color: var(--primary);
  font-weight: 500;
  font-size: 1rem;
}

.card-presentation .card-title a {
  color: #000;
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-presentation .card-title a:focus {
  color: #000;
  text-decoration: none;
}

.card-presentation .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Only difference that applies between regular and horizontal cards */
/* We only change the .card-regular or .card-horizontal class applied with media queries*/

.card-horizontal {
  flex-direction: row;
  align-items: center;
  height: 160px;
}

.card-regular .card-img-link {
  width: 100%;
  height: 160px;
  min-height: 160px;
}

.card-horizontal .card-img-link {
  height: 100%;
  width: 160px;
  min-width: 160px;
}

@media (max-width: 575px) { 
  .col-item {
    margin-bottom: 15px;
  }

  .card-horizontal {
    height: 110px;
  }

  .card-horizontal > .card-body {
    padding: .75rem;
  }

  .card-horizontal p.card-title a {
    line-height: 1.1rem;
    font-size: .9rem;
    -webkit-line-clamp: 2;
  }

  .card-horizontal > .card-img-link {
    width: 110px;
    min-width: 110px;
  }

  .card-horizontal .starting-date {
    font-size: .9rem;
  }
  
  .card-presentation .card-text {
    margin-bottom: 0;
    font-size: .7rem;
  } 
  
  a.card-link {
    font-size: .7rem;
  }
  
  h4.card-title {
    font-size: .9rem;
    margin-bottom: .4rem;
  }
}

@media (max-width: 250px) { 
  .col-item {
    margin-bottom: 15px;
  }

  .card-horizontal {
    height: 80px;
  }

  .card-horizontal > .card-body {
    padding: .6rem;
  }

  .card-horizontal h5.card-title a {
    line-height: .8rem;
    font-size: .9rem;
  }

  .card-horizontal > .card-img-link {
    width: 80px;
    min-width: 80px;
  }

  .card-horizontal .starting-date,
  .card-presentation h4.card-title {
    font-size: .7rem;
    margin-bottom: .2rem !important;
  }
}